# Игнорировать папку build
/build/

# Игнорировать сгенерированные файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Игнорировать бинарные файлы
*.bin
*.exe
*.out

# Игнорировать лог-файлы
*.log

# Игнорировать временные файлы
*.tmp
*.bak

# Игнорировать скрытые файлы, кроме .gitignore
.*
!.gitignore

# Игнорировать IDE-специфичные файлы
.vscode/
.idea/
*.swp
*.swo

# Игнорировать папку .git (если она случайно попала в проект)
.git/
